*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
codeStyleConfig.xml
Project.xml
deploymentTargetDropDown.xml
gradle.xml
misc.xml
.gitignore
modules.xml
vcs.xml
/.idea/gradle.xml
/.misc.xml
TimeToCode/.idea/deploymentTargetDropDown.xml
TimeToCode/build.gradle
TimeToCode/.idea/gradle.xml
TimeToCode/.idea/misc.xml
